@import "tailwindcss";

@import "@fontsource/roboto/400.css";

.perspective {
  perspective: 1200px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}
